/* ALL PAGE */
body{
    background-color: #0E0E0E;
    font-family: "Times New Roman", Times, serif;
}
.container{
    width: 60%;
    margin:0 auto;
    background-color: white;
    padding-bottom: 50px;
}
/* ALL PAGE */

/* HEADER */
.pageHeader{
    height: 100px;
    background-size:400px;
    background-color:#4EA0FF;
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
}
#logo{
    margin: 40px 10px;
    height: 50px;
}
/* /HEADER */

/* MAIN */

/* TITLE */
h1{
    font-size: 3em;
    margin-bottom: 5px;
}
/* /TITLE */

/* SUBTITLE */
h2{
    margin: 0px;
}
/* SUBTITLE USED FOR TITLE AND FOOTER SECTION */
.subtitle{
    color: #858585;
    margin-bottom: 25px;
}

.lightBlue{
    color: #20A9E5;
}
/* PICS */
    .pics img{
        height: 380px;
    }
/* /PICS */
/* COMMENT BELOW PICS */
.comment{
    margin-top: 0px;
    font-size: 0.8em;
}
.black{
    color: black;
}
/* /SUBTITLE */
.white{
    color: white;
}
/* TABLE HEADER COLOR */
.tableHeader{
    background-color: #20A9E5;
}
/* FISRT TWO COLUMN WIDTH */
.smallColumn{
    width: 200px;
}
/* LIGHT BLUE TABLE BACKGROUND */
.tableBackground{
    background-color: #B1E5F2;
}
.yellowBackground{
    background-color: yellow;
}
/* /MAIN */

/* FOOTER */
footer h2.subtitle{
    margin-bottom: 0px;
}
/* FOOTER'S IMAGE PARAGRAPH'S SIZE FOR BACKGROUND IMAGES */
.footerImage{
    width: 250px;
    height: 180px;
    font-size: 1.5em;
    margin: 10px;
    background-position: center;
    padding: 10px;
}
/* BACKGROUND IMAGES URL */
#firstFooterPic{
    background-image: url(../img/monitor.jpg);
}
#secondFooterPic{
    background-image: url(../img/graph.jpg);
}
/* /FOOTER */