body{
    background-color: #0E0E0E;
}
.container{
    width: 60%;
    margin:0 auto;
    background-color: white;
}

/* HEADER */
.pageHeader{
    height: 100px;
    background-size:400px;
    background-color:#4EA0FF;
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
}
#logo{
    margin: 40px 10px;
    height: 50px;
}
/* /HEADER */

/* MAIN */

/* TITLE */
h1{
    font-size: 3em;
    margin-bottom: 5px;
}
/* /TITLE */

/* SUBTITLE */
h2{
    margin: 0px;
}
.subtitle{
    color: #858585;
    margin-bottom: 25px;
}
.lightBlue{
    color: #20A9E5;
}
/* /SUBTITLE */

/* /MAIN */